/* common shared */
body {

    font-family: "Open Sans", sans-serif;
    font-family: "Lato", sans-serif;


}

.primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

/* nav related  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-nav {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}